body {
  margin: 0;
  padding: 0;
}
nav {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  background: grey;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}
.link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 0 8px;
}
.link:hover {
  color: white;
  transition: 0.2s;
}

.header {
  background: none;
  height: 425px;
}

.logo-home{
  height: 25px;
  width: auto;
}
.email-logo {
  height: 20px;
}

.portrait {
  overflow:hidden;
  -webkit-border-radius:200px;
  -moz-border-radius:200px;
  border-radius:200px;
  width:200px;
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.head-name {
  text-align: center;
  font-family: sans-serif;
  font size: 50px;
  margin: 0;
}
.head-futur {
  font-family: sans-serif;
  text-align: center;
  font-size:20px;
}
.head-futur-bar {
  width: 500px;
}

.head-profil {
  color: ;
  font-family: system-ui;
  text-align: center;
  margin: 0;
  padding: 16px 0;
}

.bar-title {

    font-size: 18px;
    padding-bottom: 250px;

    align-items: center;

    /* active flexbox */
    display: flex;

    /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
    text-align: center
}
.bar-title::before,
.bar-title::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: .0625em solid;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 0 .5em;
}

.article {
  background: #607d8b;
  height: 700px;
}

.article .bar-title {
  color: black;
  font-family: sans-serif;
  padding: inherit;
  margin: auto;
  padding-bottom: auto;
}

.footer .bar-title {
  color: black;
  font-family: sans-serif;
  padding: inherit;
  margin: auto;
  padding-bottom: auto;
}

.footer {
  background: #009688;
  height: 600px;
}
