html{
  scroll-behavior: smooth;
}
body{
}
/*HEADER*/
header{
  background: #242424;
}
header .container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
header #portrait{
  height: 160px;
  width: 160px;
  /* margin-bottom: 2%; */
  border-radius: 50%
}
.header-name{
  font-size: 33px;
}
.header-bar{
  height: 1px;
  width: 400px;
  background: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* debut navbar */
.navbar{
  position: sticky;
  margin-top: 10%;
}
.nav-link{
  color: white;
  padding: 0;
  font-size: 20px;
}
.nav-link:hover{
  color: #b9b9b9;
}
/* stard main*/
main .container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}
main .profil{
  align-items: center;
}
#skill{
  display: flex;
  justify-content: center;
}
#experiences{

}
#projects{

}
#hobbies{

}
#contact{

}
